body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task-table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
  }
  
  .task-col {
    width: 40%;
  }
  
  .description-col {
    width: 50%;
    word-wrap: break-word;
  }
  
  .task-col input[type="text"],
  .description-col input[type="text"] {
  width: calc(90% - 25px);
}

.save-icon {
  padding-left: 10px;
  width: 20px;
}

  .completed-col,
  .delete-col {
    width: 5%;
    text-align: center;
  }

  .task-table th,
.task-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.task-table thead {
    background-color: #f9f9f9;
}

.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 20px;
  }
  
  .form-container label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-container #task, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  textarea, input {  
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
  
  .form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

  .add-button-container {
    margin-top: 20px;
    text-align: center;
  }